.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.container .modal-window {
	width: 300px;
	height: 120px;
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 150px);
	display: none;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
}

.container .modal-window h1 {
	margin: 0;
}

.container .modal-window .restart {
	width: 80px;
	height: 60px;
	border-radius: 10px;
	background: #535353;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .modal-window .restart::after {
	content: "";
	display: block;
	width: 30px;
	height: 20px;
	border: 3px solid white;
	border-radius: 10px;
}

.container .modal-window .restart::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 10px solid #535353;
	border-left: 10px solid white;
	position: absolute;
	top: 9px;
	left: calc(50% - 10px);
	border-radius: 2px;
}

.container .modal-window button:active {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}

.container .game {
	width: 1000px;
	height: 100vh;
	position: relative;
	background: linear-gradient(to top, transparent, lightblue);
}

.container .game .platform {
	width: 100%;
	height: 100px;
	background: green;
	position: absolute;
	left: 0;
	bottom: 0;
}

.container .game .dino {
	width: 100px;
	height: 60px;
	background: gray;
	position: absolute;
	bottom: 100px;
	left: 20px;
}

.container .game .object {
	width: 20px;
	height: 20px;
	background: #c5c5af;
	position: absolute;
	bottom: 100px;
	right: 0;
	transition: transform, 8s linear;
}

.dino.jump {
	animation: jump 1.4s 1 linear;
}
	
@keyframes jump {
	0% {}
	50% {
		transform: translateY(-130px);
	}
	100% {
		transform: translateY(0);
	}
}

.controls {
	width: 100%;
	height: 100px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls .jump {
	
}