@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'VT323', monospace;
}

.container .modalWindow {
	width: 300px;
	height: 120px;
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 150px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	z-index: 99;
}

.container .modalWindow h1 {
	margin: 0;
}

.container .modalWindow .restart {
	width: 80px;
	height: 60px;
	border-radius: 10px;
	background: #535353;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .modalWindow .restart::after {
	content: "";
	display: block;
	width: 30px;
	height: 20px;
	border: 3px solid white;
	border-radius: 10px;
}

.container .modalWindow .restart::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 10px solid #535353;
	border-left: 10px solid white;
	position: absolute;
	top: 9px;
	left: calc(50% - 10px);
	border-radius: 2px;
}

.container .modalWindow button:active {
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}

.container .game {
	width: 1000px;
	height: 600px;
	position: relative;
	background: linear-gradient(to top, transparent, lightblue);
	z-index: 1;
}

.container .game .platform {
	width: 1000px;
	height: 100px;
	background: green;
	position: absolute;
	left: 0;
	bottom: 0;
}

.container .game .platform .grass {
	width: 1000px;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 7.8s linear;
	background: url(../../assets/image/platform.png);
}

.container .game .platform .grass1 {
	position: absolute;
	bottom: 0;
	left: 1000px;
}

.container .game .dino {
	width: 100px;
	height: 60px;
	background: gray;
	position: absolute;
	bottom: 100px;
	left: 20px;
}

.container .game .object {
	width: 20px;
	height: 20px;
	background: #000000;
	position: absolute;
	bottom: 100px;
	right: 400px;
	transition: transform 8s linear;
}

.dino.jump {
	animation: jump 1.4s 1 ease-in-out;
}
	
@keyframes jump {
	0% {}
	50% {
		transform: translateY(-130px);
	}
	100% {
		transform: translateY(0);
	}
}

.controls {
	width: 100%;
	height: 100px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls .jump {
	width: 60px;
	height: 60px;
	background: white;
	border: 4px solid rgb(10, 77, 8);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	outline: none;
}

.controls .jump::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-bottom-color: rgb(39, 38, 38);
	margin-top: -24px; 
}

.controls .jump:active {
	background: lawngreen;
}