.LevelsPage {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
}

.LevelsPage .content {
    width: 80%;
    background: rgba(255, 255, 255, .8);
    border-radius: 14px;
}

.LevelsPage .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}